html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#win {
    height: 100%;
}

#holder {
    height: 100%;
}

#comment_scroll {
    overflow: auto;
    height: 100%;
}

#comment_tb {
}

#comment_tb_head {
}

#comment_tb_body {
}
